<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>LOGIN FORM</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div class="container" id="main-menu">
			<th:block th:include="/menu"></th:block>  
	</div>
	<br><br><br>            
    <h1>N3 soumatome tuan 1</h1>
        <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ" frameborder="0" allowfullscreen></iframe> 
        <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=2" frameborder="0" allowfullscreen></iframe> 
        <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=3" frameborder="0" allowfullscreen></iframe> 
    <h1>N3 soumatome tuan 2</h1>
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=4" frameborder="0" allowfullscreen></iframe> 
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=5" frameborder="0" allowfullscreen></iframe> 
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=6" frameborder="0" allowfullscreen></iframe> 
    <h1>N3 soumatome tuan 3</h1>
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=7" frameborder="0" allowfullscreen></iframe> 
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=8" frameborder="0" allowfullscreen></iframe> 
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=9" frameborder="0" allowfullscreen></iframe> 
    <h1>N3 soumatome tuan 4</h1>
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=11" frameborder="0" allowfullscreen></iframe> 
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=12" frameborder="0" allowfullscreen></iframe> 
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=13" frameborder="0" allowfullscreen></iframe> 
    <h1>N3 soumatome tuan 5</h1>
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=15" frameborder="0" allowfullscreen></iframe> 
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=17" frameborder="0" allowfullscreen></iframe> 
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=19" frameborder="0" allowfullscreen></iframe> 
    <h1>N3 soumatome tuan 6</h1>
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=22" frameborder="0" allowfullscreen></iframe> 
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=23" frameborder="0" allowfullscreen></iframe> 
    <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PL7bz-3bPJJW0odoreWN_XENoHKp2UnxlJ&index=24" frameborder="0" allowfullscreen></iframe> 
    
</body>
</html>
