<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>KANJI</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div class="container" id="main-content">
        <div class="container" id="main-menu">
           <th:block th:include="/menu"></th:block>  
       
      <br><br><br>    
        </div>
		<h1>bo nuoc</h1>
        <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PLk1D69_vRPmOY4yT3phHcCYdU1cX6eo4Y&index=12" frameborder="0" allowfullscreen></iframe> 
        <h1>bo thuy</h1>
        <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PLk1D69_vRPmOY4yT3phHcCYdU1cX6eo4Y&index=13" frameborder="0" allowfullscreen></iframe> 
        <h1>bo thuy</h1>
        <iframe width="560" height="349" src="https://www.youtube.com/embed/videoseries?list=PLk1D69_vRPmOY4yT3phHcCYdU1cX6eo4Y&index=15" frameborder="0" allowfullscreen></iframe> 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLhAMA1TzvnPdnysMq9WaeOb2qc-9vwNQk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </div>
	
</body>
</html>
