 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
    <script src="jquery.js"></script> 
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" th:href="@{/}">日本語学習</a>
		</div>
		
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/listGramar">文法</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="/listKotoba">言葉</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="/shadowing">シャドウイング</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="/listKanji">漢字</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="/contactUs">連絡先</a></li>
			</ul>
			<ul class="nav navbar-nav">
			<li><a sec:authentication="principal.username"style="padding-left:400px"> </a> </li>
			</ul>
			<ul class="nav navbar-nav">
				<li sec:authorize="isAuthenticated()" ><a th:href="@{/logout}">
				<button type="button">ログアウト</button></a></li>
			</ul>
		</div>
	</div>
</nav>
</body>